/* VARIABLES */

:root {
    --square-width: 100%;
    --square-height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-1, .board-2, .board-3 {
    width: 50vh;
    aspect-ratio: 1 / 1;
    display: inline-grid;
    align-items: center;
    justify-items: center;
}

.square {
    border: 1px solid black;
    width: var(--square-width);
    /* height: calc(var(--square-width)); */
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    width: 100%;
}

.box + .box {
    padding-left: 5vw;
}